<div class="grid-x text-center">
	<div class="large-12 small-12 columns">
		Portfolio.Ryo719999
	</div>
	<div class="large-12 small-12 columns">
		Skill Sets
	</div>
	<div class="large-12 small-12 columns">
		Profile
	</div>
</div>
